---
import { GLOBAL } from "../lib/variables";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import Section from "../components/common/Section.astro";
import PatternArticles from "../components/home/PatternArticles.astro";

import { Octokit } from "@octokit/core";
import type { ArticleFrontmatter } from "../lib/types";
import { renderArticleTags } from "../lib/utils";

const octokit = new Octokit({
  auth: import.meta.env.TOKEN,
});

const { data: issues } = await octokit.request("GET /repos/{owner}/{repo}/issues", {
  owner: GLOBAL.username,
  repo: GLOBAL.repo,
  labels: GLOBAL.issuesLabel?.join(","),
});

const patternArticles = issues?.map((issue) => ({
  title: issue.title,
  markdownBody: issue.body,
  tags: renderArticleTags(issue.labels),
  url: issue.html_url,
  timestamp: issue.created_at,
})) as ArticleFrontmatter[];
---

<Layout>
  <Fragment slot="head">
    <title>{GLOBAL.username} • {GLOBAL.shortDescription}</title>
    <meta
      name="description"
      content={GLOBAL.longDescription}
    />
    <meta
      property="og:title"
      content={`${GLOBAL.username} • ${GLOBAL.shortDescription}`}
    />
    <meta
      property="og:description"
      content={GLOBAL.longDescription}
    />
    <meta property="og:image" content={`${GLOBAL.rootUrl}/zaggonaut.png`} /> 
    <meta property="og:url" content={GLOBAL.rootUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={`${GLOBAL.username} • ${GLOBAL.shortDescription}`}
    />
    <meta
      name="twitter:description"
      content={GLOBAL.longDescription}
    />
    <meta name="twitter:image" content={`${GLOBAL.rootUrl}/zaggonaut.png`} />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={GLOBAL.rootUrl} />
  </Fragment>
  <Section class="my-16">
    <Hero />
  </Section>
  <Section>
    <PatternArticles articleList={patternArticles} />
  </Section>
</Layout>
